# --------------------------------------------------------------------------------------------------
# API
# --------------------------------------------------------------------------------------------------
NEST_API_PORT=3000
NEST_API_SERVER_URL="http://localhost:3000"

# --------------------------------------------------------------------------------------------------
# JWT
# --------------------------------------------------------------------------------------------------
AUTH_JWT_SECRET=""
# On Linux, run the command `openssl rand -hex 64`
# if you don't have openssl installed or is using Windows,
# you can run the command `pnpm generate-keys` to generate a random key


JWT_EXPIRATION_TIME_SECONDS=3600

# --------------------------------------------------------------------------------------------------
# GitHub OAuth implementation
# https://docs.github.com/en/developers/apps/building-oauth-apps/authorizing-oauth-apps
# --------------------------------------------------------------------------------------------------

# The id of the GitHub App
GITHUB_APP_ID="1098630"

# The installation URL of the GitHub App
GITHUB_APP_INSTALLATION="https://github.com/apps/peacemakerapppoc"

# The client ID you received from GitHub for your OAuth App
GITHUB_OAUTH_CLIENT_ID=""

# The client secret you received from GitHub for your OAuth App
GITHUB_OAUTH_CLIENT_SECRET=""

# The URL in your application where users are sent after authorization
GITHUB_OAUTH_CALLBACK_URL="http://localhost:3000/api/oauth/github/callback"

# The scope of the access request
GITHUB_OAUTH_SCOPE="repo,user:email"

# --------------------------------------------------------------------------------------------------
# Encryption
# --------------------------------------------------------------------------------------------------
ENCRYPTION_KEY=""
# On Linux, run the command `openssl rand -hex 32`
# if you don't have openssl installed or is using Windows,
# you can run the command `pnpm generate-keys` to generate a random key

ENCRYPTION_IV=""
# On Linux, run the command `openssl rand -hex 16`
# if you don't have openssl installed or is using Windows,
# you can run the command `pnpm generate-keys` to generate a random key


# --------------------------------------------------------------------------------------------------
# Database
# --------------------------------------------------------------------------------------------------

MONGODB_DATABASE_URL="mongodb://root:my-secure-password@localhost:27017/peacemaker-bot-poc?tls=false&directConnection=true&authSource=admin"
